djangocms-aldryn-categories
djangocms-aldryn-people
django-haystack
django-taggit

# NOTE: These are for Filer
django-mptt
django_polymorphic

djangocms-aldryn-search
coverage>=3.7.1
dj-database-url
django-classy-tags
django-sekizai
django-treebeard>=2.0
djangocms-admin-style
djangocms-helper @ git+https://github.com/nephila/django-app-helper.git@3.3.1
djangocms-text-ckeditor
docopt
flake8
tox>=2.9.1
pyflakes
selenium
python-dateutil
pytz
reportlab
svglib

# docs
sphinx
sphinx-rtd-theme

sphinxcontrib-spelling
pyenchant
