{% extends "aldryn_newsblog/base.html" %}
{% load i18n cms_tags djangocms_alias_tags apphooks_config_tags aldryn_newsblog %}

{% block title %}
    {{ article.title }} - {{ block.super }}
{% endblock %}

{% block newsblog_content %}
    <div class="djangocms-newsblog-content">
        <div class="djangocms-newsblog-article-detail">
            {% prepend_prefix_if_exists "includes/article.html" as article_template_name %}
            {% include article_template_name with detail_view="true" %}

            {% static_alias "newsblog_social" %}

            <ul class="pagination next-prev-article">
                {% if prev_article %}
                    <li class="previous-page"><a href="{{ prev_article.get_absolute_url }}">{% translate "Previous Article" %}</a></li>
                {% endif %}
                <li class="back-to-overview"><a href="{% namespace_url "article-list" %}">{% translate "Back to Overview" %}</a></li>
                {% if next_article %}
                    <li class="next-page"><a href="{{ next_article.get_absolute_url }}">{% translate "Next Article" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
